@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lobster&family=Merriweather:wght@900&family=Montserrat:wght@400;700&family=Open+Sans&family=Poppins:wght@700&family=Press+Start+2P&family=Roboto:wght@300;700&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@700&display=swap");
* {
  box-sizing: border-box;
}

.header {
  background-color: rgb(29, 33, 38);
  height: 80px;
  line-height: 80px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap: wrap;
  position: relative;
}

[class*=col-] {
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-xs-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-xs-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-xs-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-xs-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-xs-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-xs-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-xs-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-xs-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-xs-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-xs-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.menu {
  display: flex;
  margin-left: 60px;
}
.menu a {
  text-decoration: none;
  margin: 0px 7px;
  padding: 4px 11px 4px 11px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  color: rgb(164, 174, 173);
  border: 2px solid rgba(86, 92, 100, 0);
  font-family: "Open Sans", sans-serif;
}
.menu a:hover {
  border: 2px solid rgb(86, 92, 100);
}

.search {
  position: absolute;
  top: 25px;
  width: 100%;
  margin: 0 15px;
  height: 28px;
  border: 2px solid rgb(60, 65, 71);
  border-radius: 5px;
  padding-left: 7px;
  font-family: "Open Sans", sans-serif;
}
.search .search-input {
  position: absolute;
  top: 2px;
  width: 100px;
  background-color: rgba(60, 65, 71, 0);
  font-size: 14px;
  font-weight: 600;
  color: rgb(164, 174, 173);
  border: 0;
  font-family: "Open Sans", sans-serif;
}
.search .search-input:focus-visible {
  outline: 0;
}
.search ::-moz-placeholder {
  font-size: 14px;
  font-weight: 600;
  color: rgb(164, 174, 173);
}
.search :-ms-input-placeholder {
  font-size: 14px;
  font-weight: 600;
  color: rgb(164, 174, 173);
}
.search ::placeholder {
  font-size: 14px;
  font-weight: 600;
  color: rgb(164, 174, 173);
}
.search .btn-search {
  position: absolute;
  right: 10px;
  width: 26px;
  height: 24px;
  border: 0;
  background-color: rgba(164, 174, 173, 0);
  background-image: url(images/search.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.search .slider {
  font-family: "Open Sans", sans-serif;
  margin-top: 15%;
  width: 600px;
}
.search .slider h1 {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 36px;
  color: rgb(255, 229, 229);
  font-weight: 600;
}
.search .slider p {
  font-size: 16px;
  color: rgb(204, 208, 215);
  margin: 25px 0;
  line-height: 1.8;
}
.search .slider .btn-view-more, .search .slider .btn-video-tour {
  font-family: "Quattrocento Sans", sans-serif;
  width: 120px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  border: 2px solid rgba(35, 183, 164, 0);
  margin-right: 10px;
  font-size: 14px;
  color: white;
  background-color: rgb(35, 183, 164);
  cursor: pointer;
}
.search .slider .btn-view-more:hover, .search .slider .btn-video-tour:hover {
  border: 2px solid white;
  background-color: rgba(35, 183, 164, 0);
}
.search .btn-show-me-more {
  position: absolute;
  left: 50%;
  margin-left: -75px;
  text-transform: uppercase;
  width: 150px;
  height: 45px;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: rgba(74, 107, 10, 0);
  border: 2px solid white;
  border-radius: 7px;
  margin-top: 30px;
  cursor: pointer;
}
.search .btn-show-me-more:hover {
  background-color: rgb(127, 129, 133);
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
  }
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .header {
    height: 60px;
    line-height: 60px;
  }
  .logo {
    margin-top: 6px;
  }
  .menu {
    display: flex;
    margin-left: -5px;
  }
  .menu a {
    text-decoration: none;
    margin: 0px 2px;
    padding: 2px 4px 2px 4px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    color: rgb(164, 174, 173);
    border: 2px solid rgba(86, 92, 100, 0);
    font-family: "Open Sans", sans-serif;
  }
  .menu a:hover {
    border: 2px solid rgb(86, 92, 100);
  }
  .search {
    position: absolute;
    top: 18px;
    width: 80%;
    margin: 0 15px;
    height: 24px;
    border: 2px solid rgb(60, 65, 71);
    border-radius: 5px;
    padding-left: 7px;
    font-family: "Open Sans", sans-serif;
  }
  .search .search-input {
    position: absolute;
    top: 1px;
    width: 70%;
    background-color: rgba(60, 65, 71, 0);
    font-size: 12px;
    font-weight: 600;
    color: rgb(164, 174, 173);
    border: 0;
    font-family: "Open Sans", sans-serif;
  }
  .search .search-input:focus-visible {
    outline: 0;
  }
  .search ::-moz-placeholder {
    font-size: 12px;
    font-weight: 600;
    color: rgb(164, 174, 173);
  }
  .search :-ms-input-placeholder {
    font-size: 12px;
    font-weight: 600;
    color: rgb(164, 174, 173);
  }
  .search ::placeholder {
    font-size: 12px;
    font-weight: 600;
    color: rgb(164, 174, 173);
  }
  .search .btn-search {
    position: absolute;
    top: -2px;
    right: 5px;
    width: 26px;
    height: 24px;
    border: 0;
    background-color: rgba(164, 174, 173, 0);
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .main {
    background-image: url(images/font-slide.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 660px;
    width: 100%;
  }
  .slider {
    font-family: "Open Sans", sans-serif;
    margin-top: 20%;
    width: 600px;
    height: 550px;
  }
  .slider h1 {
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 36px;
    color: rgb(255, 229, 229);
    font-weight: 600;
  }
  .slider p {
    font-size: 16px;
    color: rgb(204, 208, 215);
    margin: 25px 0;
    line-height: 1.8;
  }
  .slider .btn-view-more, .slider .btn-video-tour {
    font-family: "Quattrocento Sans", sans-serif;
    width: 120px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    border: 2px solid rgba(35, 183, 164, 0);
    margin-right: 10px;
    font-size: 14px;
    color: white;
    background-color: rgb(35, 183, 164);
    cursor: pointer;
  }
  .slider .btn-view-more:hover, .slider .btn-video-tour:hover {
    border: 2px solid white;
    background-color: rgba(35, 183, 164, 0);
  }
  .section-title {
    display: flex;
    align-items: center;
  }
  .section-title .marker-tetle {
    width: 10px;
    height: 35px;
    background-color: rgb(225, 230, 234);
    margin-right: 10px;
    padding-top: 10px;
  }
  .section-title h2 {
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin: 70px 0;
    color: rgb(41, 47, 54);
  }
  .we-are-modest-left-block {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: rgb(141, 143, 146);
    line-height: 1.5;
    padding-bottom: 40px;
  }
  .we-are-modest-left-block span {
    font-weight: bold;
  }
  .we-are-modest-right-block:last-child {
    margin-bottom: 100px;
  }
  .icons-img {
    background-color: rgb(208, 213, 217);
    cursor: pointer;
    margin-bottom: 60px;
    margin-top: 20px;
  }
  .icons-img:hover {
    background-color: rgb(163, 169, 173);
  }
  .item {
    display: flex;
    margin-bottom: 25px;
  }
  .marker {
    height: 50px;
    width: 50px;
    background-color: rgb(35, 183, 164);
    font-family: "Quattrocento Sans", sans-serif;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  .item-tex {
    font-family: "Open Sans", sans-serif;
    color: rgb(141, 143, 146);
    font-style: 16px;
    line-height: 1.5;
    margin-left: 20px;
  }
  .item-tex h3 {
    font-family: "Quattrocento Sans", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: rgb(41, 47, 54);
    padding-bottom: 10px;
  }
  .team-name {
    margin-top: -3px;
    font-family: "Open Sans", sans-serif;
    width: 263px;
    height: 73px;
    padding: 20px;
    background-color: rgb(225, 230, 234);
    color: rgb(41, 47, 54);
    font-style: 14px;
    color: rgb(141, 143, 146);
  }
  .team-name h4 {
    font-family: "Quattrocento Sans", sans-serif;
    font-style: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(41, 47, 54);
  }
  .revue {
    position: relative;
    cursor: pointer;
    margin-bottom: 50px;
  }
  .revue > img {
    width: 263px;
  }
  .revue:hover .revue-links {
    opacity: 1;
  }
  .revue-links {
    position: absolute;
    text-align: center;
    top: 120px;
    right: 55px;
    opacity: 0;
    transition: 0.5s;
  }
  .revue-links img {
    background-color: rgb(58, 69, 67);
  }
  .revue-links img:hover {
    background-color: rgb(109, 119, 117);
  }
  .section-lovely-work {
    background-color: rgb(58, 69, 77);
    height: 1140px;
  }
  .section-title-grey-font {
    display: flex;
    align-items: center;
  }
  .section-title-grey-font .marker-tetle-grey-font {
    width: 10px;
    height: 35px;
    background-color: rgb(78, 90, 98);
    margin-right: 10px;
    padding-top: 10px;
  }
  .section-title-grey-font h2 {
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin: 70px 0;
    color: white;
  }
  .section-lovely-work .img-plus {
    position: absolute;
    top: 30%;
    left: 40%;
  }
  .section-lovely-work .caption {
    opacity: 0;
    position: absolute;
    width: 330px;
    height: 60px;
    background-color: rgb(41, 47, 54);
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    line-height: 60px;
    padding-left: 15px;
    margin-top: -51px;
  }
  .section-lovely-work .img-plus {
    opacity: 0;
  }
  .section-lovely-work .photo {
    cursor: pointer;
    position: relative;
    margin-bottom: 30px;
  }
  .section-lovely-work .photo:hover .caption {
    opacity: 1;
    transition: 0.6s;
    transform: translateY(-20%);
  }
  .section-lovely-work .photo:hover .img-plus {
    opacity: 1;
  }
  .section-lovely-work .photo .img-photo {
    width: 330px;
  }
  .col-sm-12-flex {
    display: flex;
    gap: 30px;
  }
  .btn-show-me-more {
    position: absolute;
    left: 50%;
    margin-left: -75px;
    text-transform: uppercase;
    width: 150px;
    height: 45px;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: rgba(74, 107, 10, 0);
    border: 2px solid white;
    border-radius: 7px;
    margin-top: 30px;
    cursor: pointer;
  }
  .btn-show-me-more:hover {
    background-color: rgb(127, 129, 133);
  }
  .section-what-we-do {
    height: 1400px;
  }
  .advantage {
    text-align: center;
    margin-bottom: 40px;
  }
  .advantage-title {
    height: 20px;
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: rgb(41, 47, 54);
    margin: 25px 0;
  }
  .advantage-text {
    height: 150px;
    font-family: "Open Sans", sans-serif;
    font-style: 16px;
    color: rgb(141, 143, 146);
    line-height: 1.5;
  }
  .section-features {
    background-color: rgb(58, 69, 77);
    height: 1600px;
  }
  .row-features {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .section-title-grey-font {
    display: flex;
    align-items: center;
  }
  .section-title-grey-font .marker-tetle-grey-font {
    width: 10px;
    height: 35px;
    background-color: rgb(78, 90, 98);
    margin-right: 10px;
    padding-top: 10px;
  }
  .section-title-grey-font h2 {
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin: 70px 0;
    color: white;
  }
  .features-title {
    width: 400px;
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 20px 0 10px;
  }
  .features-text {
    width: 400px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: white;
    line-height: 1.2;
    margin-bottom: 50px;
  }
  .img-features {
    width: 400px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
    position: relative;
  }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .header {
    background-color: rgb(29, 33, 38);
    height: 80px;
    line-height: 80px;
  }
  .menu {
    display: flex;
    margin-left: 0px;
  }
  .menu a {
    text-decoration: none;
    margin: 0px 5px;
    padding: 4px 11px 4px 11px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    color: rgb(164, 174, 173);
    border: 2px solid rgba(86, 92, 100, 0);
    font-family: "Open Sans", sans-serif;
  }
  .menu a:hover {
    border: 2px solid rgb(86, 92, 100);
  }
  .search {
    position: absolute;
    top: 26px;
    width: 85%;
    margin: 0 15px;
    height: 28px;
    border: 2px solid rgb(60, 65, 71);
    border-radius: 5px;
    padding-left: 7px;
    font-family: "Open Sans", sans-serif;
  }
  .search .search-input {
    position: absolute;
    top: 2px;
    width: 120px;
    background-color: rgba(60, 65, 71, 0);
    font-size: 14px;
    font-weight: 600;
    color: rgb(164, 174, 173);
    border: 0;
    font-family: "Open Sans", sans-serif;
  }
  .search .search-input:focus-visible {
    outline: 0;
  }
  .search ::-moz-placeholder {
    font-size: 14px;
    font-weight: 600;
    color: rgb(164, 174, 173);
  }
  .search :-ms-input-placeholder {
    font-size: 14px;
    font-weight: 600;
    color: rgb(164, 174, 173);
  }
  .search ::placeholder {
    font-size: 14px;
    font-weight: 600;
    color: rgb(164, 174, 173);
  }
  .search .btn-search {
    position: absolute;
    right: 10px;
    width: 26px;
    height: 24px;
    border: 0;
    background-color: rgba(164, 174, 173, 0);
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .main {
    background-image: url(images/font-slide.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 660px;
    width: 100%;
  }
  .slider {
    font-family: "Open Sans", sans-serif;
    width: 660px;
    margin-top: 20%;
    height: 490px;
  }
  .slider h1 {
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 36px;
    color: rgb(255, 229, 229);
    font-weight: 600;
  }
  .slider p {
    font-size: 16px;
    color: rgb(204, 208, 215);
    margin: 25px 0;
    line-height: 1.8;
  }
  .slider .btn-view-more, .slider .btn-video-tour {
    font-family: "Quattrocento Sans", sans-serif;
    width: 120px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    border: 2px solid rgba(35, 183, 164, 0);
    margin-right: 10px;
    font-size: 14px;
    color: white;
    background-color: rgb(35, 183, 164);
    cursor: pointer;
  }
  .slider .btn-view-more:hover, .slider .btn-video-tour:hover {
    border: 2px solid white;
    background-color: rgba(35, 183, 164, 0);
  }
  .section-title {
    display: flex;
    align-items: center;
  }
  .section-title .marker-tetle {
    width: 10px;
    height: 35px;
    background-color: rgb(225, 230, 234);
    margin-right: 10px;
    padding-top: 10px;
  }
  .section-title h2 {
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin: 70px 0;
    color: rgb(41, 47, 54);
  }
  .we-are-modest-left-block {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: rgb(141, 143, 146);
    line-height: 1.5;
    padding-bottom: 40px;
  }
  .we-are-modest-left-block span {
    font-weight: bold;
  }
  .icons-img {
    background-color: rgb(208, 213, 217);
    cursor: pointer;
    margin-bottom: 100px;
    margin-top: 20px;
  }
  .icons-img:hover {
    background-color: rgb(163, 169, 173);
  }
  .item {
    display: flex;
    margin-bottom: 25px;
  }
  .marker {
    height: 50px;
    width: 50px;
    background-color: rgb(35, 183, 164);
    font-family: "Quattrocento Sans", sans-serif;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  .item-tex {
    font-family: "Open Sans", sans-serif;
    color: rgb(141, 143, 146);
    font-style: 16px;
    line-height: 1.5;
    margin-left: 20px;
  }
  .item-tex h3 {
    font-family: "Quattrocento Sans", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: rgb(41, 47, 54);
    padding-bottom: 10px;
  }
  .section-meet-the-team {
    height: 600px;
  }
  .team-name {
    margin-top: -3px;
    font-family: "Open Sans", sans-serif;
    width: 220px;
    height: 73px;
    padding: 20px;
    background-color: rgb(225, 230, 234);
    color: rgb(41, 47, 54);
    font-style: 14px;
    color: rgb(141, 143, 146);
  }
  .team-name h4 {
    font-family: "Quattrocento Sans", sans-serif;
    font-style: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(41, 47, 54);
  }
  .revue {
    position: relative;
    cursor: pointer;
  }
  .revue > img {
    width: 220px;
  }
  .revue:hover .revue-links {
    opacity: 1;
  }
  .revue-links {
    position: absolute;
    text-align: center;
    top: 100px;
    right: 25px;
    opacity: 0;
    transition: 0.5s;
  }
  .revue-links img {
    background-color: rgb(58, 69, 67);
  }
  .revue-links img:hover {
    background-color: rgb(109, 119, 117);
  }
  .section-lovely-work {
    background-color: rgb(58, 69, 77);
    height: 900px;
  }
  .section-title-grey-font {
    display: flex;
    align-items: center;
  }
  .section-title-grey-font .marker-tetle-grey-font {
    width: 10px;
    height: 35px;
    background-color: rgb(78, 90, 98);
    margin-right: 10px;
    padding-top: 10px;
  }
  .section-title-grey-font h2 {
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin: 70px 0;
    color: white;
  }
  .section-lovely-work .img-plus {
    position: absolute;
    top: 25%;
    left: 40%;
  }
  .section-lovely-work .caption {
    opacity: 0;
    position: absolute;
    width: 290px;
    height: 40px;
    background-color: rgb(41, 47, 54);
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    line-height: 40px;
    padding-left: 15px;
    margin-top: -35px;
  }
  .section-lovely-work .img-plus {
    opacity: 0;
  }
  .section-lovely-work .photo {
    cursor: pointer;
    position: relative;
    margin-bottom: 30px;
  }
  .section-lovely-work .photo:hover .caption {
    opacity: 1;
    transition: 0.6s;
    transform: translateY(-20%);
  }
  .section-lovely-work .photo:hover .img-plus {
    opacity: 1;
  }
  .section-lovely-work .photo .img-photo {
    width: 290px;
  }
  .btn-show-me-more {
    position: absolute;
    left: 50%;
    margin-left: -75px;
    text-transform: uppercase;
    width: 150px;
    height: 45px;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: rgba(74, 107, 10, 0);
    border: 2px solid white;
    border-radius: 7px;
    margin-top: 30px;
    cursor: pointer;
  }
  .btn-show-me-more:hover {
    background-color: rgb(127, 129, 133);
  }
  .section-what-we-do {
    height: 900px;
  }
  .advantage {
    text-align: center;
    margin-bottom: 80px;
  }
  .advantage-title {
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: rgb(41, 47, 54);
    margin: 25px 0;
  }
  .advantage-text {
    font-family: "Open Sans", sans-serif;
    font-style: 16px;
    color: rgb(141, 143, 146);
    line-height: 1.8;
  }
  .section-features {
    background-color: rgb(58, 69, 77);
    height: 730px;
  }
  .section-title-grey-font {
    display: flex;
    align-items: center;
  }
  .section-title-grey-font .marker-tetle-grey-font {
    width: 10px;
    height: 35px;
    background-color: rgb(78, 90, 98);
    margin-right: 10px;
    padding-top: 10px;
  }
  .section-title-grey-font h2 {
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin: 70px 0;
    color: white;
  }
  .features-title {
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 40px 0 20px;
  }
  .features-text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: white;
    line-height: 1.8;
  }
  .img-features {
    width: 290px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
    position: relative;
  }
  [class*=col-] {
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .header {
    background-color: rgb(29, 33, 38);
    height: 80px;
    line-height: 80px;
  }
  .menu {
    display: flex;
    margin-left: 60px;
  }
  .menu a {
    text-decoration: none;
    margin: 0px 10px;
    padding: 4px 11px 4px 11px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    color: rgb(164, 174, 173);
    border: 2px solid rgba(86, 92, 100, 0);
    font-family: "Open Sans", sans-serif;
  }
  .menu a:hover {
    border: 2px solid rgb(86, 92, 100);
  }
  .search {
    position: absolute;
    top: 25px;
    width: 80%;
    margin: 0 15px;
    height: 28px;
    border: 2px solid rgb(60, 65, 71);
    border-radius: 5px;
    padding-left: 7px;
    font-family: "Open Sans", sans-serif;
  }
  .search .search-input {
    position: absolute;
    top: 2px;
    width: 120px;
    background-color: rgba(60, 65, 71, 0);
    font-size: 14px;
    font-weight: 600;
    color: rgb(164, 174, 173);
    border: 0;
    font-family: "Open Sans", sans-serif;
  }
  .search .search-input:focus-visible {
    outline: 0;
  }
  .search ::-moz-placeholder {
    font-size: 14px;
    font-weight: 600;
    color: rgb(164, 174, 173);
  }
  .search :-ms-input-placeholder {
    font-size: 14px;
    font-weight: 600;
    color: rgb(164, 174, 173);
  }
  .search ::placeholder {
    font-size: 14px;
    font-weight: 600;
    color: rgb(164, 174, 173);
  }
  .search .btn-search {
    position: absolute;
    right: 10px;
    width: 26px;
    height: 24px;
    border: 0;
    background-color: rgba(164, 174, 173, 0);
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .main {
    background-image: url(images/font-slide.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 660px;
    width: 100%;
  }
  .slider {
    margin-top: 33%;
    font-family: "Open Sans", sans-serif;
    width: 660px;
    height: 490px;
  }
  .slider h1 {
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 36px;
    color: rgb(255, 229, 229);
    font-weight: 600;
  }
  .slider p {
    font-size: 16px;
    color: rgb(204, 208, 215);
    margin: 25px 0;
    line-height: 1.8;
  }
  .slider .btn-view-more, .slider .btn-video-tour {
    font-family: "Quattrocento Sans", sans-serif;
    width: 120px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    border: 2px solid rgba(35, 183, 164, 0);
    margin-right: 10px;
    font-size: 14px;
    color: white;
    background-color: rgb(35, 183, 164);
    cursor: pointer;
  }
  .slider .btn-view-more:hover, .slider .btn-video-tour:hover {
    border: 2px solid white;
    background-color: rgba(35, 183, 164, 0);
  }
  .section-meet-the-team {
    height: 650px;
  }
  .section-title {
    display: flex;
    align-items: center;
  }
  .section-title .marker-tetle {
    width: 10px;
    height: 35px;
    background-color: rgb(225, 230, 234);
    margin-right: 10px;
    padding-top: 10px;
  }
  .section-title h2 {
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin: 70px 0;
    color: rgb(41, 47, 54);
  }
  .we-are-modest-left-block {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: rgb(141, 143, 146);
    line-height: 1.5;
    padding-bottom: 40px;
  }
  .we-are-modest-left-block span {
    font-weight: bold;
  }
  .icons-img {
    background-color: rgb(208, 213, 217);
    cursor: pointer;
    margin-bottom: 100px;
    margin-top: 20px;
  }
  .icons-img:hover {
    background-color: rgb(163, 169, 173);
  }
  .item {
    display: flex;
    margin-bottom: 25px;
  }
  .marker {
    height: 50px;
    width: 50px;
    background-color: rgb(35, 183, 164);
    font-family: "Quattrocento Sans", sans-serif;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  .item-tex {
    font-family: "Open Sans", sans-serif;
    color: rgb(141, 143, 146);
    font-style: 16px;
    line-height: 1.5;
    margin-left: 20px;
  }
  .item-tex h3 {
    font-family: "Quattrocento Sans", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: rgb(41, 47, 54);
    padding-bottom: 10px;
  }
  .team-name {
    margin-top: -3px;
    font-family: "Open Sans", sans-serif;
    width: 263px;
    height: 73px;
    padding: 20px;
    background-color: rgb(225, 230, 234);
    color: rgb(41, 47, 54);
    font-style: 14px;
    color: rgb(141, 143, 146);
  }
  .team-name h4 {
    font-family: "Quattrocento Sans", sans-serif;
    font-style: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(41, 47, 54);
  }
  .revue {
    position: relative;
    cursor: pointer;
  }
  .revue > img {
    width: 263px;
  }
  .revue:hover .revue-links {
    opacity: 1;
  }
  .revue-links {
    position: absolute;
    text-align: center;
    top: 120px;
    right: 55px;
    opacity: 0;
    transition: 0.5s;
  }
  .revue-links img {
    background-color: rgb(58, 69, 67);
  }
  .revue-links img:hover {
    background-color: rgb(109, 119, 117);
  }
  .section-lovely-work {
    background-color: rgb(58, 69, 77);
    height: 900px;
  }
  .section-title-grey-font {
    display: flex;
    align-items: center;
  }
  .section-title-grey-font .marker-tetle-grey-font {
    width: 10px;
    height: 35px;
    background-color: rgb(78, 90, 98);
    margin-right: 10px;
    padding-top: 10px;
  }
  .section-title-grey-font h2 {
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin: 70px 0;
    color: white;
  }
  .section-lovely-work .img-plus {
    position: absolute;
    top: 30%;
    left: 42%;
  }
  .section-lovely-work .caption {
    opacity: 0;
    position: absolute;
    width: 360px;
    height: 60px;
    background-color: rgb(41, 47, 54);
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    line-height: 60px;
    padding-left: 15px;
    margin-top: -51px;
  }
  .section-lovely-work .img-plus {
    opacity: 0;
  }
  .section-lovely-work .photo {
    cursor: pointer;
    position: relative;
    margin-bottom: 30px;
  }
  .section-lovely-work .photo:hover .caption {
    opacity: 1;
    transition: 0.6s;
    transform: translateY(-20%);
  }
  .section-lovely-work .photo:hover .img-plus {
    opacity: 1;
  }
  .section-lovely-work .photo .img-photo {
    width: 360px;
  }
  .btn-show-me-more {
    position: absolute;
    left: 50%;
    margin-left: -75px;
    text-transform: uppercase;
    width: 150px;
    height: 45px;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: rgba(74, 107, 10, 0);
    border: 2px solid white;
    border-radius: 7px;
    margin-top: 30px;
    cursor: pointer;
  }
  .btn-show-me-more:hover {
    background-color: rgb(127, 129, 133);
  }
  .section-what-we-do {
    height: 900px;
  }
  .advantage {
    text-align: center;
    margin-bottom: 80px;
  }
  .advantage-title {
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: rgb(41, 47, 54);
    margin: 25px 0;
  }
  .advantage-text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: rgb(141, 143, 146);
    line-height: 1.8;
  }
  .section-features {
    background-color: rgb(58, 69, 77);
    height: 730px;
  }
  .section-title-grey-font {
    display: flex;
    align-items: center;
  }
  .section-title-grey-font .marker-tetle-grey-font {
    width: 10px;
    height: 35px;
    background-color: rgb(78, 90, 98);
    margin-right: 10px;
    padding-top: 10px;
  }
  .section-title-grey-font h2 {
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin: 70px 0;
    color: white;
  }
  .features-title {
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 40px 0 20px;
  }
  .features-text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: white;
    line-height: 1.8;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
  }
  [class*=col-] {
    padding-left: 15px;
    padding-right: 15px;
  }
  .hidden-xs {
    display: none;
  }
  .col-xs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xs-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xs-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xs-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xs-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xs-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xs-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .header {
    width: 100%;
    height: 80px;
    line-height: 60px;
  }
  .logo {
    height: 25px;
    text-align: center;
  }
  .menu {
    overflow: scroll;
    overflow-x: scroll;
    display: flex;
    justify-content: start !important;
    margin-left: -5px;
    justify-content: center;
  }
  .menu a {
    text-decoration: none;
    margin: 0px 7px;
    padding: 2px 2px 2px 2px;
    font-size: 11px;
    font-weight: 600;
    border-radius: 5px;
    color: rgb(164, 174, 173);
    border: 2px solid rgba(86, 92, 100, 0);
    font-family: "Open Sans", sans-serif;
  }
  .menu a:hover {
    border: 2px solid rgb(86, 92, 100);
  }
  .main {
    background-image: url(images/font-slide.png);
    background-size: 1200px auto;
    background-position: top;
    background-repeat: no-repeat;
    height: 660px;
    width: 100%;
  }
  .slider {
    font-family: "Open Sans", sans-serif;
    margin-top: 15%;
    width: 70%;
    height: 350px;
  }
  .slider h1 {
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 18px;
    color: rgb(255, 229, 229);
    font-weight: 600;
  }
  .slider p {
    font-size: 14px;
    color: rgb(204, 208, 215);
    margin: 25px 0;
    line-height: 1.8;
  }
  .slider .btn-view-more, .slider .btn-video-tour {
    font-family: "Quattrocento Sans", sans-serif;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    border: 2px solid rgba(35, 183, 164, 0);
    margin-right: 10px;
    font-size: 12px;
    color: white;
    background-color: rgb(35, 183, 164);
    cursor: pointer;
  }
  .slider .btn-view-more:hover, .slider .btn-video-tour:hover {
    border: 2px solid white;
    background-color: rgba(35, 183, 164, 0);
  }
  .section-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .section-title .marker-tetle {
    width: 10px;
    height: 35px;
    background-color: rgb(225, 230, 234);
    margin-right: 10px;
    padding-top: 10px;
  }
  .section-title h2 {
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 30px 0;
    color: rgb(41, 47, 54);
  }
  .we-are-modest-left-block {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: rgb(141, 143, 146);
    line-height: 1.5;
  }
  .we-are-modest-left-block span {
    font-weight: bold;
  }
  .icons-img {
    width: 40px;
    background-color: rgb(208, 213, 217);
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  .icons-img:hover {
    background-color: rgb(163, 169, 173);
  }
  .item {
    display: flex;
    margin-bottom: 25px;
  }
  .marker {
    height: 40px;
    width: 40px;
    background-color: rgb(35, 183, 164);
    font-family: "Quattrocento Sans", sans-serif;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }
  .item-tex {
    font-family: "Open Sans", sans-serif;
    color: rgb(141, 143, 146);
    font-size: 14px;
    line-height: 1.5;
    margin-left: 20px;
  }
  .item-tex h3 {
    font-family: "Quattrocento Sans", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: rgb(41, 47, 54);
    padding-bottom: 10px;
  }
  .team-name {
    margin-top: -3px;
    font-family: "Open Sans", sans-serif;
    width: 263px;
    height: 73px;
    padding: 20px;
    background-color: rgb(225, 230, 234);
    color: rgb(41, 47, 54);
    font-style: 14px;
    color: rgb(141, 143, 146);
  }
  .team-name h4 {
    font-family: "Quattrocento Sans", sans-serif;
    font-style: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(41, 47, 54);
  }
  .revue {
    position: relative;
    cursor: pointer;
    margin-bottom: 40px;
  }
  .revue > img {
    width: 263px;
  }
  .revue:hover .revue-links {
    opacity: 1;
  }
  .revue-links {
    position: absolute;
    text-align: center;
    top: 120px;
    right: 55px;
    opacity: 0;
    transition: 0.5s;
  }
  .revue-links img {
    background-color: rgb(58, 69, 67);
  }
  .revue-links img:hover {
    background-color: rgb(109, 119, 117);
  }
  .section-lovely-work {
    background-color: rgb(58, 69, 77);
    height: 1800px;
  }
  .section-title-grey-font {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .section-title-grey-font .marker-tetle-grey-font {
    width: 10px;
    height: 35px;
    background-color: rgb(78, 90, 98);
    margin-right: 10px;
    padding-top: 10px;
  }
  .section-title-grey-font h2 {
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 70px 0;
    color: white;
  }
  .row-lovely-work {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  .section-lovely-work .img-plus {
    position: absolute;
    top: 25%;
    left: 40%;
  }
  .section-lovely-work .caption {
    opacity: 0;
    position: absolute;
    width: 290px;
    height: 40px;
    background-color: rgb(41, 47, 54);
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    line-height: 40px;
    padding-left: 15px;
    margin-top: -35px;
  }
  .section-lovely-work .img-plus {
    opacity: 0;
  }
  .section-lovely-work .photo {
    cursor: pointer;
    position: relative;
    margin-bottom: 30px;
  }
  .section-lovely-work .photo:hover .caption {
    opacity: 1;
    transition: 0.6s;
    transform: translateY(-20%);
  }
  .section-lovely-work .photo:hover .img-plus {
    opacity: 1;
  }
  .section-lovely-work .photo .img-photo {
    width: 290px;
  }
  .btn-show-me-more {
    position: absolute;
    left: 50%;
    margin-left: -75px;
    text-transform: uppercase;
    width: 150px;
    height: 45px;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: rgba(74, 107, 10, 0);
    border: 2px solid white;
    border-radius: 7px;
    margin-top: 30px;
    cursor: pointer;
  }
  .btn-show-me-more:hover {
    background-color: rgb(127, 129, 133);
  }
  .section-what-we-do {
    height: 2300px;
  }
  .advantage {
    text-align: center;
  }
  .advantage-title {
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: rgb(41, 47, 54);
    margin: 25px 0;
    height: 20px;
  }
  .advantage-text {
    font-family: "Open Sans", sans-serif;
    font-style: 16px;
    color: rgb(141, 143, 146);
    line-height: 1.5;
    height: 150px;
  }
  .section-features {
    background-color: rgb(58, 69, 77);
    height: 1600px;
  }
  .row-features {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .section-title-grey-font {
    display: flex;
    align-items: center;
  }
  .section-title-grey-font .marker-tetle-grey-font {
    width: 10px;
    height: 35px;
    background-color: rgb(78, 90, 98);
    margin-right: 10px;
    padding-top: 10px;
  }
  .section-title-grey-font h2 {
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin: 70px 0;
    color: white;
  }
  .features-title {
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 20px 0 10px;
  }
  .features-text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: white;
    line-height: 1.2;
    width: 360px;
    margin-bottom: 60px;
  }
}/*# sourceMappingURL=style.css.map */